.banner {
  color: white;
  width: 100%;
  animation: bg 8s linear infinite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:75vh;
  display: flex;
  justify-content: center;
  align-items: center;
    font-size: 16px;
        line-height: 1.42857143;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  padding: 0;
  text-transform: uppercase;
  text-shadow: 2px 2px 6px black;
}
.banner-text{
    text-shadow: 1000px;
    text-align: center;
    opacity: 1;
}
@media screen and (max-width: 35.5em) {
  
}

@media screen and (max-width: 48em) {
  
}

@media screen and (max-width: 64em) {
  
}

@media screen and (max-width: 80em) {
  
}


@keyframes bg {
    0%{
        background-image: url(./image/suuite.jpg);
    }
    25%{
        background-image: url(./image/chambre.jpg);
    }
    50%{
        background-image: url(./image/familierr.webp);
    }
    75%{
        background-image: url(./image/familierr.webp);
    }
    100%{
        background-image: url(./image/douuble.jpg);
    }
}